body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0c10;
    color: white;
    line-height: 1.6;
}

a {
    color: #ff4c68;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #ff512f, #dd2476);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero a {
    text-decoration: none;
    color: white;
    background: black;
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.hero a:hover {
    background: #ff4c68;
}

section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #ff4c68;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}